<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Oishii</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/oishii.css' %}">

    <script src="https://maps.googleapis.com/maps/api/js" defer></script>
    <script src="{% static 'js/vendor.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/2.0.0/screenfull.min.js" defer></script>
    {% block website_scripts %}
    {% endblock website_scripts %}
  </head>
  <body class="indigo lighten-5">
    <nav class="nav-blue">
      <div class="nav-wrapper">
        <a href="{% url 'website_home' %}" class="brand-logo">Oishii</a>
        <ul class="right hide-on-med-and-down nav-links">
          {% include 'website/nav-links.html' %}
        </ul>
        <a data-activates="slide-out" class="button-collapse right pointer"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav side-nav-links">
      {% include 'website/side-nav-links.html' %}
    </ul>
    {% if not user.is_authenticated %}
      {% include 'website/login.html' %}
    {% endif %}

    {% block content %}
    {% endblock content %}
  </body>
</html>
