        <div id="login" class="modal indigo lighten-5">
            <div class="modal-content">
                <form id="login-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="login_username" type="text" class="validate" autofocus>
                            <label for="login_username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="login_password" type="password" class="validate">
                            <label for="login_password">Password</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <button type="submit" id="login-submit" class="waves-effect waves-light btn-large col s11 oishii-blue">Login</button>
                    </div>
                </form>
            </div>
        </div>