                {% if not user.is_authenticated %}
                    <li><a href="{% url 'website_scoreboard' %}">Scoreboard</a></li>
                    <li><a class="fullscreen-button pointer">Fullscreen</a></li>
                    <li><a href="{% url 'website_faq' %}">FAQ</a></li>
                    <li><a class="login-button pointer">Login</a></li>
                    <li><a href="{% url 'website_register' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'website_scoreboard' %}">Scoreboard</a></li>
                    <li><a class="fullscreen-button pointer">Fullscreen</a></li>
                    <li><a href="{% url 'website_faq' %}">FAQ</a></li>
                    <li><a class="logout-button pointer">Logout</a></li>
                {% endif %}
